<a href="https://colab.research.google.com/github/KatyBeard-GB/PythonCourseHW/blob/main/HW_Seminar10.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Задача 44:** В ячейке ниже представлен код генерирующий DataFrame, которая состоит всего
из 1 столбца. Ваша задача перевести его в one hot вид. Сможете ли вы это сделать без
get_dummies?

In [46]:
import pandas as pd
import random

lst = ['robot'] * 10
lst += ['human'] * 10
random.shuffle(lst)
data = pd.DataFrame({'whoAmI':lst})
data.head()

  whoAmI
0  robot
1  human
2  robot
3  human
4  human

**1 Способ**

С использованием метода pandas get_dummies:

In [47]:
pd.get_dummies(data['whoAmI'])

    human  robot
0       0      1
1       1      0
2       0      1
3       1      0
4       1      0
5       0      1
6       0      1
7       1      0
8       1      0
9       0      1
10      1      0
11      1      0
12      0      1
13      0      1
14      0      1
15      0      1
16      1      0
17      1      0
18      0      1
19      1      0

**2 Способ**

С использованием функции OneHotEncoder():

In [48]:
df2 = data

In [49]:
from sklearn. preprocessing import OneHotEncoder
encoder = OneHotEncoder(handle_unknown='ignore')

In [50]:
encoder_df = pd.DataFrame(encoder. fit_transform(df2[['whoAmI']]). toarray ())
encoder_df.columns = ['human', 'robot']
encoder_df

    human  robot
0     0.0    1.0
1     1.0    0.0
2     0.0    1.0
3     1.0    0.0
4     1.0    0.0
5     0.0    1.0
6     0.0    1.0
7     1.0    0.0
8     1.0    0.0
9     0.0    1.0
10    1.0    0.0
11    1.0    0.0
12    0.0    1.0
13    0.0    1.0
14    0.0    1.0
15    0.0    1.0
16    1.0    0.0
17    1.0    0.0
18    0.0    1.0
19    1.0    0.0

**3 Способ**

С использованием цикла for:

In [51]:
lst_human, lst_robot = [], []
for i in lst:
  if i == 'human':
    lst_human.append(1)
    lst_robot.append(0)
  else: 
    lst_human.append(0)
    lst_robot.append(1)
df3 = pd.DataFrame({'human':lst_human, 'robot':lst_robot})
df3

    human  robot
0       0      1
1       1      0
2       0      1
3       1      0
4       1      0
5       0      1
6       0      1
7       1      0
8       1      0
9       0      1
10      1      0
11      1      0
12      0      1
13      0      1
14      0      1
15      0      1
16      1      0
17      1      0
18      0      1
19      1      0